@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" value="${item.id}" underline="true"/>
                            <#input id="ci" name="词" value="${item.ci}" underline="true"/>
                            <#input id="explanation" name="解释" value="${item.explanation}" underline="true"/>
                            <#input id="desc" name="描述" value="${item.desc}" />
                </div>

                <div class="col-sm-6">
                            <#input id="status" name="状态（0：下架，1：上架）" value="${item.status}" underline="true"/>
                            <#input id="isDelete" name="删除标识（0：未删除，1：已删除）" value="${item.isDelete}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CiInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CiInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/dictionary/ci/ci_info.js"></script>
@}
