<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhelihenku.dictionary.rest.modular.dictionary.dao.CiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="CiResultMap" type="com.zhelihenku.dictionary.rest.modular.dictionary.model.Ci">
        <id column="id" property="id" />
        <result column="ci" property="ci" />
        <result column="explanation" property="explanation" />
        <result column="desc" property="desc" />
        <result column="status" property="status" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ci, explanation, desc, status, is_delete AS isDelete, create_time AS createTime, update_time AS updateTime
    </sql>

    <select id="selectCiPageList" resultMap="CiResultMap">
        SELECT
        *
        FROM
        tb_xinhua_ci
        WHERE is_delete = 0
        order by create_time desc
    </select>

</mapper>
